<!DOCTYPE html>
<html>
<head>
  <% include templates/head.ejs %>
</head>
<body>
  <% include templates/nav.ejs %>
  <section class="hero is-large">
    <div class="hero-body">
      <div class="container splash">
      </div>
    </div>
  </section>
  <h2>RECORDS</h2>
  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div class="record-list">
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

  <% if(isLoggedIn){%>
    <button>logout</button>
  <% } else { %>
    <a href="/login"><button>login</button></a>
  <% } %>
</body>
</html>
