html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.body-contain {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 2em !important;
}

.hero {
  background-image: url("img/record_splash.jpg");
  background-size: cover;
  background-position: center;
}

.form-container {
  max-width: 50%;
  margin: auto;
  background-color: white;
  padding: 30px 60px;
}

.form-container > * {
  margin: 10px 0;
}

.form-container h1 {
  text-align: center;
}

.profile-img {
  max-width: 100%;
  padding: 20px;
}

.columns .album-list {
  padding: 20px 0 0 40px;
}

.album-list-single {
  margin: 10px 0;
}

textarea#review-form-formatted {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*<% if(isLoggedIn){%>
  <button>logout</button>
<% } else { %>
  <a href="/login"><button>login</button></a>
<% } %>*/
