html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.body-contain {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 2em !important;
}

.hero {
  background-image: url("img/record_splash.jpg");
  background-size: cover;
  background-position: center;
}

.form-container {
  max-width: 50%;
  margin: auto;
  background-color: white;
  padding: 30px 60px;
}

.form-container > * {
  margin: 10px 0;
}

.form-container h1 {
  text-align: center;
}

.profile-img {
  max-width: 100%;
  padding: 20px;
}

.columns .album-list {
  padding: 20px 0 0 40px;
}

.album-list-single {
  margin: 10px 0;
}

textarea#review-form-formatted {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}


/*<% if(isLoggedIn){%>
  <button>logout</button>
<% } else { %>
  <a href="/login"><button>login</button></a>
<% } %>*/
